/* .el-table--border th,
.el-table__fixed-right-patch {
	background-color: #e5e5e5;
	color: #333;
}

.el-table_1_column_4 {
	text-align: center !important;
}

.el-table__row {
	height: 30px;
} */

/* 设置表主体的高度 */
/* .el-table__body td,
.el-table__body th {
	padding: 1px;
} */

#wbsPlanningApp {
  width: 100%;
  height: 100%;
  /* background: #f3f3f3; */
}

#wbsPlanningApp .btn-lsit {
  width: 100%;
  height: 50px;
  background: #fff;
  text-align: left;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#wbsPlanningApp .btn-lsit button {
  border: none;
  font-size: 12px;
  color: #fff;
  background: #5582f4;
  margin: 0 0 0 12px;
  height: 28px;
  /* font-weight: bold; */
  padding: 0 15px;
  border-radius: 2px;
}

#wbsPlanningApp .btn-lsit button:hover {
  background: #779bf5;
}

#wbsPlanningApp .recheck-box {
  width: 120%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 -10px;
  text-indent: 10px;
}
#wbsPlanningApp .recheck-box div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#wbsPlanningApp .recheck-box .recheck-top {
  width: 100%;
  height: 30px;
}
#wbsPlanningApp .recheck-box .recheck-mid {
  width: 100%;
  display: flex;
  border-top: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
}
#wbsPlanningApp .recheck-box .recheck-mid .mid-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#wbsPlanningApp .recheck-box .recheck-mid .mid-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-left: 1px solid #ebeef5;
}
#wbsPlanningApp .mid-right-item {
  width: 100%;
  height: 30px;
}
#wbsPlanningApp .mid-right-top {
  border-bottom: 1px solid #ebeef5;
}
#wbsPlanningApp .recheck-bot {
  width: 100%;
  height: 30px;
}
#wbsPlanningApp .checek-man {
  width: 140%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid #ebeef5; */
  margin: 0 -10px;
  text-indent: 10px;
}

#wbsPlanningApp .checek-man:nth-child(2) {
  border-top: 1px solid #ebeef5;
}
#wbsPlanningApp .checek-man:nth-child(3) {
  border-top: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
  height: 32px;
}

.my-cell {
  padding-left: 0;
  padding-right: 0;
}
/* #qualityPlanApp .el-table .cell {
  padding: 0px !important;
} */
#wbsPlanningApp .el-table__body tr.current-row > td {
  background-color: #bbcdfa !important;
  /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
}
#wbsPlanningApp .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #bbcdfa;
  /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
}


#wbsPlanningApp .el-input__inner{
  height: 30px;
  line-height: 30px;
  background-color: #5582f4;
  border-radius: 2px;
  color: #fff;
}

#wbsPlanningApp .el-input__inner::placeholder{
  color: #fff;
}

#wbsPlanningApp .el-input__suffix i{
  color: #fff;
}