html,
body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

.gantt_container {
    width: 100%;
    height: 100%;
    border-top: none !important;
}

#search {
    width: 110px;
    margin-left: 15px;
    padding: 3px 5px 1px;
    font-size: 12px;
}


/* .searchEl:after {
	display: block;
	content: "";
	background: url(https://d2zjg0qo565n2.cloudfront.net/sites/default/files/2016-rebrand/header-icons/Homepage_Search_Icon.png)
		no-repeat;
	height: 20px;
	margin-top: -36px;
	margin-left: 74px;
} */


/* 状态线 */

.status_line {
    background-color: #0ca30a;
}

.gantt_marker.today {
    background: #ffb121;
}

.end_date {
    background: red;
}


/* 按钮组样式 */

.btn-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
}

.btn-box button {
    font-size: 12px;
    margin-left: 12px;
    padding: 5px 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #5582f3;
    color: #fff;
}

.btn-box .newworkPlanning {
    background: #ccc;
}

.btn-box .newworkPlanning:hover {
    background: #ccc;
}

.btn-box button:hover {
    background: #779bf5;
}

.iconfont {
    margin-right: 4px;
}

#gantt_line {
    background: #f2f5fe;
}


/* 基准线 */

.baseline {
    position: absolute;
    border-radius: 2px;
    opacity: 0.7;
    margin-top: -8px;
    height: 6px;
    background: #444;
    border: 1px solid rgb(19, 20, 122);
}


/* move task lines upper */

.gantt_task_line,
.gantt_line_wrapper {
    margin-top: -9px;
}

.gantt_side_content {
    margin-bottom: 7px;
}

.gantt_task_link .gantt_link_arrow {
    margin-top: -12px;
}

.gantt_side_content.gantt_right {
    bottom: 0;
}


/* .btn-box .icon-up-down {
	font-size: 20px;
} */

.custom-project {
    position: absolute;
    height: 6px;
    color: #ffffff;
    background-color: #444444;
}

.custom-project div {
    position: absolute;
}

.project-left,
.project-right {
    top: 6px;
    background-color: transparent;
    border-style: solid;
    width: 0px;
    height: 0px;
}

.project-left {
    left: 0px;
    border-width: 0px 0px 8px 7px;
    border-top-color: transparent;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: #444444 !important;
}

.project-right {
    right: 0px;
    border-width: 0px 7px 8px 0px;
    border-top-color: transparent;
    border-right-color: #444444;
    border-bottom-color: transparent !important;
    border-left-color: transparent;
}

.project-line {
    font-weight: bold;
}

.gantt_task_line,
.gantt_line_wrapper div {
    background-color: blue;
    border-color: blue;
    background: url(../img/task_bg_blue.png) repeat-x;
    border-radius: 0;
}

.gantt_critical_task,
.gantt_critical_task .gantt_line_wrapper div {
    background-color: #e63030;
    border-color: #e63030;
    background: url(../img/task_bg_red.png) repeat-x;
    border-radius: 0;
}

.gantt_link_arrow {
    background: blue;
    border-color: blue;
}

.gantt_task_link:hover .gantt_line_wrapper div {
    background: blue;
    box-shadow: 0 0 5px 0px #9fa6ff;
}

.gantt_line_wrapper {
    /* top: 407px !important; */
}

.gantt_line_wrapper .gantt_link_line_right {
    background: blue;
}

.gantt_line_wrapper .gantt_link_line_left {
    background: blue;
}

.gantt_line_wrapper .gantt_link_line_up {
    background: blue;
}

.gantt_line_wrapper .gantt_link_line_down {
    background: blue;
}

.gantt_task_line .gantt_task_progress {
    /* opacity: 0.3; */
    /* background-color: #444444; */
    /* background: url(../img/taskbg.gif) repeat-x; */
    background-color: blue;
}

.gantt_critical_task .gantt_task_progress {
    background-color: #e63030;
}


/* 处理关键路径箭线被遮挡 */

.gantt_critical_link .gantt_line_wrapper>div {
    position: absolute;
    z-index: 1;
}

.gantt_grid_data .gantt_cell {
    border-right: 1px solid #ececec;
}

.gantt_grid_data .gantt_cell.gantt_last_cell {
    border-right: none;
}

.gantt_tree_icon.gantt_folder_open,
.gantt_tree_icon.gantt_file,
.gantt_tree_icon.gantt_folder_closed {
    display: none;
}

.gantt_task .gantt_task_scale .gantt_scale_cell,
.gantt_grid_scale .gantt_grid_head_cell {
    color: #5c5c5c;
}

.gantt_row,
.gantt_cell {
    border-color: #cecece;
}

.gantt_grid_scale .gantt_grid_head_cell {
    border-right: 1px solid #cecece !important;
}

.gantt_grid_scale .gantt_grid_head_cell.gantt_last_cell {
    border-right: none !important;
}

.gantt_task_row,
.gantt_task_cell {
    border: none;
}

.weekend {
    background: #f4f7f4 !important;
}

.gantt_selected .weekend {
    background: #fff3a1 !important;
}

.gantt_bar_milestone {
    background: none;
}

.fa {
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    opacity: 0.2;
    padding: 2px;
}

.fa:hover {
    opacity: 1;
}

.fa-pencil {
    color: #ffa011;
}

.fa-plus {
    color: #328ea0;
}

.fa-times {
    color: red;
}

* {
    margin: 0px;
    padding: 0px;
}


/* 添加代码 */

.box-time {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    height: 100%;
    width: 120px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.time-duration {
    width: 100%;
    height: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

.time-plan-check {
    flex: 1;
    width: 100%;
    height: 48%;
    display: flex;
}

.time-plan-check span {
    display: inline-block;
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.time-plan-check span:nth-child(1) {
    border-right: 1px solid #ccc;
}

.item .gantt_select {
    display: inline-block;
    position: relative;
    width: 80%;
    background: white;
    height: 33px;
    border: 1px solid #ccc;
}

.gantt_select .gantt_select_data {
    height: 100%;
    padding-left: 5px;
    line-height: 33px;
}

.gantt_select .selct_data {
    display: none;
    background: white;
    position: absolute;
    width: 100%;
    left: -1px;
    top: 32px;
    border: 1px solid #ccc;
    border-top: none;
}

.selct_data .selct_data_line {
    padding: 8px;
    display: flex;
    align-items: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.selct_data .selct_data_line:last-child {
    border-bottom: none;
}

.selct_data .selct_data_line:nth-child(1) {
    margin-top: 5px;
    border-top: 1px solid #ccc;
}

.selct_data .selct_data_line input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.gantt_task_line.gantt_project .gantt_task_progress {
    background-color: blue;
}

.gantt_task_line.gantt_project.gantt_selected {
    box-shadow: 0 0 5px blue;
}

.gantt_task_line.gantt_project {
    background-color: blue;
    border: 1px solid blue;
}


/* 设置名称显示颜色 */

.gantt_task_content {
    color: red;
}


/* .resources_cell{
	   display: none!important;
   } */

.gantt_grid_data .gantt_row.odd:hover,
.gantt_grid_data .gantt_row:hover {
    background-color: #eff3fd;
}

.gantt_grid_data .gantt_row.gantt_selected,
.gantt_grid_data .gantt_row.odd.gantt_selected,
.gantt_task_row.gantt_selected {
    background-color: #eff3fd;
}

.gantt_tree_icon.gantt_open {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAZElEQVQ4T82SsQ2AMAwE/RswrXdIZdggm5C57AbRw9uSC0j/J905kOZDcy8/BowxJoClqpNpviqY2ebuC8DOILRBBZJGzCAlQEScInI8qaQKbHzHpRGzMQW0z1j94mnEDPQ94AJr4zoR1aLjrAAAAABJRU5ErkJggg==);
    width: 18px;
    cursor: pointer;
}

.gantt_tree_icon.gantt_close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAdklEQVQ4T+1SwQ2AMAg8NnAkbxPdoJsYN3CTW8kNakha09iqMf3KE7gDjjN0hnXi8ROg1kDSBiCQ3EuBJQ0AFpJzma9ElDTFGIOZjZkkgQVgJekDzmh+oSRJnU2w127fWJDE1uS8wqMPnMQbr2u/nvDFnb8TgQOodSwRkUhpSQAAAABJRU5ErkJggg==);
    width: 18px;
    cursor: pointer;
}