<!-- <!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/element.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <title>Document</title>
  </head>

  <body> -->
<div id="qualityACApp">
  <div class="table-content">
    <div class="table-box table-left">
      <el-table
        ref="projectTable"
        highlight-current-row
        :header-cell-style="{height:'50px',background:'#f6f7f9',color:'#6b6b6b',fontWeight:'500',fontSize:'12px'}"
        :data="proTableData"
        style="margin: 10px 0 10px 0"
        :cell-style="cellStyle"
        row-key="task_id"
        :border="true"
        default-expand-all
        :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        @row-click="currentTaskClick"
      >
        <el-table-column
          prop="wbs"
          label="任务代码"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="task_name"
          label="WBS任务名称"
          min-width="180"
        ></el-table-column>
        <el-table-column
          prop="is_certical_task"
          label="是否关键任务"
          width="100"
        >
          <template slot-scope="scope">
            ${scope.row.is_certical_task?"是":"否"}
          </template>
        </el-table-column>
        <el-table-column label="任务状态" width="140">
          <template slot-scope="scope">
            <div v-show="scope.row.task_schedule_status==='000'">未开始</div>
            <div v-show="scope.row.task_schedule_status==='100'">进行中</div>
            <div v-show="scope.row.task_schedule_status==='200'">已完成</div>
          </template>
        </el-table-column>
        <el-table-column label="处理状态" width="140">
          <template slot-scope="scope">
            ${scope.row.quality_handle_status==='1'?"已处理":"未处理"}
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div class="table-box table-right">
      <el-table
        ref="TableRight"
        :header-cell-style="{height:'50px',background:'#f6f7f9',color:'#6b6b6b',fontWeight:'500',fontSize:'12px'}"
        :data="currentTask"
        style="margin: 10px 0 10px 0"
        :style="{width:tableWidth}"
        :cell-style="cellStyle"
        row-key="task_id"
        :border="true"
      >
        <el-table-column
          prop="owner"
          label="承担人"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="plan_endtime"
          label="计划完成并提交时间"
          width="160"
        ></el-table-column>
        <el-table-column
          prop="end_time"
          label="实际完成并提交时间"
          width="160"
        ></el-table-column>
        <el-table-column
          prop="DValue"
          label="偏差值"
          width="80"
        ></el-table-column>
        <el-table-column label="偏差原因" min-width="200">
          <template slot-scope="scope">
            <el-input
              @change="reasonChange"
              size="small"
              maxlength="50"
              :disabled="scope.row.task_schedule_status!=='200'"
              v-model="scope.row.quality_reason"
              placeholder="请输入内容偏差原因"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column label="处理措施" min-width="200">
          <template slot-scope="scope">
            <el-input
              @change="actionChange"
              size="small"
              maxlength="50"
              :disabled="scope.row.task_schedule_status!=='200'"
              v-model="scope.row.quality_action"
              placeholder="请输入处理措施"
            ></el-input>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</div>
<!-- <script src="../js/lodash.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/element.js"></script>
    <script src="../js/test.js"></script>
  </body>
</html> -->
