<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/element.css" />
  <link rel="stylesheet" href="../css/main.css" />

  <title>Document</title>
</head>

<body> -->
  <div id="ccPermissionManagementApp">
    <el-tabs v-model="activeName" @tab-click="handleTabClick">
      <el-tab-pane label="功能权限" name="first">
        <div class="tab-content">
          <div class="first-tree-box">
            <div class="search-box">
              <i class="el-icon-search"></i>
              <input placeholder="请搜索业务对象" class="search-input" v-model="searchText">
            </div>
            <div class="tree-box">
              <el-tree
                :data="defaultTreeData"
                show-checkbox
                node-key="id"
                ref="treeLeft"
                :default-expanded-keys="defaultExpandedArr"
                :props="defaultProps">
              </el-tree>
            </div>
          </div>
          <div class="first-tree-box btn-box">
            <button class="btn-itme" id="setBtn4" @click="add">
              添加＞
            </button>
            <button class="btn-itme" id="setBtn4" @click="remove">
              ＜移除
            </button>
          </div>
          <div class="first-tree-box">
            <div class="search-box empty-box">
            </div>
            <div class="tree-box">
              <el-tree
                highlight-current="true"
                :data="assignedData"
                ref="treeRight"
                show-checkbox
                node-key="id"
                :default-expanded-keys="['0']"
                :default-checked-keys="[]"
                :props="defaultProps">
              </el-tree>
            </div>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="字段权限" name="second">
        <div class="tab-content field-content">
          <div class="first-tree-box">
            <div class="search-box empty-box">
            </div>
            <div class="tree-box">
              <el-tree
                highlight-current="true"
                :data="fieldTreeData"
                ref="fieldTree"
                node-key="id"
                @node-click="fieldTreeNodeClick"
                :default-expanded-keys="['0']"
                :default-checked-keys="[]"
                :props="defaultProps">
              </el-tree>
            </div>
          </div>
          <div class="field-box">
            <div class="field-box-header">
              <div class="id-field">
                <el-checkbox v-model="fieldListAllChecked" @change="handlefieldListAllCheckedChange">全选</el-checkbox>
              </div>
              <div class="field-container">
                <div class="field-item name-field">字段</div>
                <div class="field-item switch-btn-field">是否可查看</div>
                <div class="field-item switch-btn-field">是否可编辑</div>
              </div>
            </div>
            <div class="field-list-box">
              <div class="field-list-item" v-for="(item, index) in fieldListData" :key="index">
                <div class="id-field">
                  <el-checkbox v-model="item.dele_checked" @change="(val)=>{handlefieldListItemCheckChange(val,item,index)}"></el-checkbox>
                  ${index+1}
                </div>
                <div class="field-container">
                  <div class="field-item name-field">${item.elementname}</div>
                  <div class="field-item switch-btn-field">
                    <el-switch
                      v-model="item.isvisible===1?true:false"
                      active-color="#13ce66"
                      @change="(val)=>{isvisibleChange(val,item)}"
                    >
                    </el-switch>
                  </div>
                  <div class="field-item switch-btn-field">
                    <el-switch
                      v-model="item.iseditable===1?true:false"
                      active-color="#13ce66"
                      @change="(val)=>{iseditableChange(val,item)}"
                    >
                    </el-switch>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-btn" >
            <span @click="choseField">选择字段</span> | 
            <span @click="deleteSelectedField">删除字段</span>
          </div>
        </div>
      </el-tab-pane>
      <el-tab-pane label="数据规则" name="third">
        <div class="tab-content field-content data-rule-content">
          <div class="first-tree-box">
            <div class="search-box empty-box">
            </div>
            <div class="tree-box">
              <el-tree
                highlight-current="true"
                :data="fieldTreeData"
                ref="fieldTree"
                node-key="id"
                @node-click="fieldTreeNodeClick"
                :default-expanded-keys="['0']"
                :default-checked-keys="[]"
                :props="defaultProps">
              </el-tree>
            </div>
          </div>
          <div class="field-box">
            <div class="field-box-header">
              <div class="field-box-header-item left-parenthesis"></div>
              <div class="field-box-header-item filed-select">字段</div>
              <div class="field-box-header-item condition-select">条件</div>
              <div class="field-box-header-item value-input">值</div>
              <div class="field-box-header-item parenthesis-item right-parenthesis"></div>
              <div class="field-box-header-item logic-select">逻辑</div>
            </div>
            <div class="field-box-content">
              <div class="data-rule-list-item" v-for="(item, index) in dataRuleList" :key="index">

              </div>
              <div class="add-data-rule-btn">
                <i class="el-icon-plus"></i>
                <p>添加条件</p>
              </div>
            </div>
          </div>
        </div>
      </el-tab-pane>
    </el-tabs>
    <div class="field-select-model" v-show="ifFieldSelectShow">
      <div class="field-select-container">
        <div class="field-select-header">
          <span>选择需要的字段列表</span>
          <i class="el-icon-close" @click="cancel"></i>
        </div>
        <div class="field-select-content">
          <div class="field-select-content-left">
            <div class="content-left-header">
              <el-checkbox :indeterminate="isIndeterminate" v-model="fieldSelectCheckAll" @change="handleCheckAllChange">全选</el-checkbox>
            </div>
            <div class="content-left-table-box">
              <div class="table-box-header">
                <div class="id-filed">
                  <i class="el-icon-setting"></i>
                </div>
                <div class="field-item">字段标识</div>
                <div class="field-item">字段名称</div>
              </div>
              <div class="table-list">
                <div class="table-list-item" :class="{'list-item-line-focused':item.checked}" v-for="(item, index) in alternative_fields" :key="index">
                  <div class="id-field">
                    <el-checkbox v-model="item.checked" @change="handleTableListItemCheckChange(item,index)"></el-checkbox>
                  </div>
                  <div class="field-item">${item.elementid}</div>
                  <div class="field-item">${item.elementname}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="field-select-content-right">
            <div class="content-right-header">
              <span class="checked-field-num">已选（${fieldCheckedList.length}）</span>
              <span class="clear-all-text-btn" @click="fieldCheckedListClearAll">清空</span>
            </div>
            <div class="content-right-checked-field-list">
              <div class="checked-field-list-item" v-for="(item,index) in fieldCheckedList" :key="index">
                <div class="checked-field-item-name">${item.elementname}</div>
                <div class="checked-field-item-x">
                  <i class="el-icon-close" @click="deleteCheckedFieldItem(item,index)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="field-select-footer">
          <button class="btn-item btn-item-cancel" @click="cancel">
            取消
          </button>
          <button class="btn-item" @click="confirm">
            确定
          </button>
        </div>

      </div>
    </div>
  </div>
  <!-- <script src="../js/lodash.js"></script>
  <script src="../js/vue.min.js"></script>
  <script src="../js/element.js"></script>
  <script src="../js/test.js"></script>
</body>
</html> -->