<!DOCTYPE html>

<body lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/element.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <title>Document</title>
  </head>
  <div id="wbsPlanningApp">
    <el-tabs v-model="activeName" @tab-click="handleTabClick">
      <el-tab-pane label="进度计划" name="first">
        <!-- <div class="btn-lsit progress-plan-btn-lsit">
          <el-select v-model="addNewTaskValue" placeholder="新增" size="small" style="width:130px;height:30px">
            <el-option
              v-for="item in addNewTaskSelectionOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <button class="btn-itme" id="setBtn4" @click="">
            删除
          </button>
          <button class="btn-itme" id="setBtn4" @click="">
            插入
          </button>
        </div> -->
        <el-table
          ref="scheduleTable"
          :default-sort="{prop: 'position', order: 'ascending'}"
          :header-cell-style="{height:'50px',background:'#f6f7f9',color:'#6b6b6b',fontWeight:'500',fontSize:'12px'}"
          :data="scheduleData"
          style="width: 100%; margin: 10px 0 10px 0;"
          :cell-style="cellStyle"
          row-key="task_id"
          :border="true"
          :height="tableHeight"
          default-expand-all
          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        >
          <!-- <u-table-column width="40">
            <template slot="header" slot-scope="scope">
              <el-checkbox @change="handleCheckAllChange" v-model="allChecked"></el-checkbox>
            </template>
            <template slot-scope="scope">
              <el-checkbox @change="itemChange(scope.row)" v-model="scope.row.checked"></el-checkbox>
            </template>
          </u-table-column> -->
          <u-table-column
            prop="position"
            label="序号"
            width="60"
          ></u-table-column>
          <u-table-column
            prop="wbs"
            label="WBS编码"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="task_name"
            min-width="300"
            label="任务名称"
          ></u-table-column>
          <u-table-column
            prop="major.text"
            label="专业"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="describe"
            label="任务说明"
            width="220"
          ></u-table-column>
          <u-table-column label="工期" width="120">
            <template slot-scope="scope">
              <div>
                ${ scope.row.duration }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="开始日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.start_date }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="结束日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.end_date }
              </div>
            </template>
          </u-table-column>
          <u-table-column
            prop="duration_plan"
            label="工程量"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="my_unit.text"
            label="单位"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="effect"
            label="工效"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="my_unit.text"
            label="工效单位"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="task_before"
            label="前置任务"
            width="120"
          ></u-table-column>
          <u-table-column label="里程碑" width="120">
            <template slot-scope="scope">
              <el-switch
                v-model="scope.row.type==='milestone'?true:false"
              ></el-switch>
            </template>
          </u-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="委外计划" name="second">
        <el-table
          ref="contractTable"
          :default-sort="{prop: 'position', order: 'ascending'}"
          :header-cell-style="{height:'50px',background:'#f6f7f9',color:'#6b6b6b',fontWeight:'500',fontSize:'12px'}"
          :data="contractData"
          style="width: 100%; margin: 10px 0 10px 0;"
          :cell-style="cellStyle"
          row-key="task_id"
          :border="true"
          :height="tableHeight"
          default-expand-all
          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        >
          <!-- <u-table-column width="40">
            <template slot="header" slot-scope="scope">
              <el-checkbox @change="handleCheckAllChange" v-model="allChecked"></el-checkbox>
            </template>
            <template slot-scope="scope">
              <el-checkbox @change="itemChange(scope.row)" v-model="scope.row.checked"></el-checkbox>
            </template>
          </u-table-column> -->
          <u-table-column
            prop="position"
            label="序号"
            width="60"
          ></u-table-column>
          <u-table-column
            prop="wbs"
            label="WBS编码"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="task_name"
            min-width="300"
            label="任务名称"
          ></u-table-column>
          <u-table-column
            prop="major.text"
            label="专业"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="describe"
            label="任务说明"
            width="220"
          ></u-table-column>
          <u-table-column label="工期" width="120">
            <template slot-scope="scope">
              <div>
                ${ scope.row.duration }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="开始日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.start_date }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="结束日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.end_date }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="是否委外" width="120">
            <template slot-scope="scope">
              <el-switch
                v-model="scope.row.delegate==='1'?true:false"
              ></el-switch>
            </template>
          </u-table-column>
          <u-table-column
            prop="delegate_reason"
            label="委外原因"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="delegate_role_name"
            label="委外负责人角色"
            width="140"
          ></u-table-column>
          <u-table-column
            prop="delegate_person_name"
            label="委外负责人名称"
            width="140"
          ></u-table-column>
          <!-- <u-table-column prop="duration" label="委外工期" width="120"></u-table-column> -->
          <u-table-column
            prop="contract_thing"
            label="合同事项"
            width="120"
          ></u-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="质量计划" name="third">
        <!-- <div class="btn-lsit">
          <button class="btn-itme" id="setBtn4" @click="SetRole">
            设置角色
          </button>
          <button class="btn-itme" id="setBtn4" @click="SetStaff">
            设置人员
          </button>
          <button class="btn-itme" id="setBtn4" @click="SetDurationTime">
            设置持续时间
          </button>
          <button class="btn-itme" id="refresh" @click="refreshData">刷新</button>
        </div> -->
        <u-table
          ref="qualityTable"
          :default-sort="{prop: 'position', order: 'ascending'}"
          :header-cell-style="{height:'50px',background:'#f6f7f9',color:'#6b6b6b',fontWeight:'500',fontSize:'12px'}"
          :data="qualityData"
          style="width: 100%; margin: 10px 0 10px 0;"
          :cell-style="cellStyle"
          row-key="task_id"
          :border="true"
          :height="tableHeight"
          use-virtual
          :treeConfig="{children: 'children', expandAll: false}"
          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        >
          <!-- <u-table-column width="40">
            <template slot="header" slot-scope="scope">
              <el-checkbox @change="handleCheckAllChange" v-model="allChecked"></el-checkbox>
            </template>
            <template slot-scope="scope">
              <el-checkbox @change="itemChange(scope.row)" v-model="scope.row.checked"></el-checkbox>
            </template>
          </u-table-column> -->
          <u-table-column
            prop="position"
            label="序号"
            width="60"
          ></u-table-column>
          <u-table-column
            prop="wbs"
            label="WBS编码"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="task_name"
            min-width="300"
            label="任务名称"
          ></u-table-column>
          <!-- <u-table-column
            prop="major.text"
            label="专业"
            width="120"
          ></u-table-column> -->
          <u-table-column
            prop="describe"
            label="任务说明"
            width="220"
          ></u-table-column>
          <!-- <u-table-column label="工期" width="120">
            <template slot-scope="scope">
              <div>
                ${ scope.row.duration }
              </div>
            </template>
          </u-table-column> -->
          <u-table-column label="开始日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.plan_starttime }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="结束日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.plan_endtime }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="阶段" width="160">
            <template slot-scope="scope">
              <div class="recheck-box" v-show="scope.row.task_type === '3'">
                <div class="recheck-top">
                  首次复核
                </div>
                <div class="recheck-mid">
                  <div class="mid-left">
                    整改
                  </div>
                  <div class="mid-right">
                    <div class="mid-right-item mid-right-top">
                      修改
                    </div>
                    <div class="mid-right-item">
                      修改确认
                    </div>
                  </div>
                </div>
                <div class="recheck-bot">
                  复核确认
                </div>
              </div>
            </template>
          </u-table-column>
          <u-table-column label="承担人角色" width="120">
            <template slot-scope="scope">
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.owner_role }
              </div>
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.the_owner_role }
              </div>
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.owner_role }
              </div>
              <div
                class="checek-man"
                style="border: none;"
                v-show="scope.row.task_type === '3'"
              >
                ${ scope.row.owner_role }
              </div>
              <div
                v-show="scope.row.task_type === '1'||scope.row.task_type === '2'"
              >
                ${ scope.row.owner_role }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="技能等级" width="120">
            <template slot-scope="scope">
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.skill }
              </div>
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.the_skill }
              </div>
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.skill }
              </div>
              <div
                class="checek-man"
                style="border: none;"
                v-show="scope.row.task_type === '3'"
              >
                ${ scope.row.skill }
              </div>
              <div
                v-show="scope.row.task_type === '1'||scope.row.task_type === '2'"
              >
                ${ scope.row.skill }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="持续时间" width="120">
            <template slot-scope="scope">
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.first_duration }
              </div>
              <!-- <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${scope.row.modify_duration }
              </div>
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.mod_con_duration }
              </div>
              <div class="checek-man" style="border:none" v-show="scope.row.task_type === '3'">
                ${ scope.row.confirm_duration }
              </div>
              <div v-show="scope.row.task_type === '1'||scope.row.task_type === '2'">
                ${ scope.row.first_duration }
              </div> -->
            </template>
          </u-table-column>
          <u-table-column label="完成并提交日期" width="180">
            <template slot-scope="scope">
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.submit_date }
              </div>
              <!-- <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${scope.row.submit_date }
              </div>
              <div class="checek-man" v-show="scope.row.task_type === '3'">
                ${ scope.row.submit_date }
              </div>
              <div class="checek-man" style="border:none" v-show="scope.row.task_type === '3'">
                ${ scope.row.submit_date }
              </div>
              <div v-show="scope.row.task_type === '1'||scope.row.task_type === '2'">
                ${ scope.row.submit_date }
              </div> -->
            </template>
          </u-table-column>
        </u-table>
      </el-tab-pane>
      <el-tab-pane label="提资计划" name="fourth">
        <el-table
          ref="datumFileTable"
          :default-sort="{prop: 'position', order: 'ascending'}"
          :header-cell-style="{height:'50px',background:'#f6f7f9',color:'#6b6b6b',fontWeight:'500',fontSize:'12px'}"
          :data="datumFileData"
          style="width: 100%; margin: 10px 0 10px 0;"
          :cell-style="cellStyle"
          row-key="task_id"
          :border="true"
          :height="tableHeight"
        >
          <u-table-column
            prop="position"
            label="序号"
            width="60"
          ></u-table-column>
          <u-table-column
            prop="wbs"
            label="WBS编码"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="task_name"
            min-width="300"
            label="任务名称"
          ></u-table-column>
          <u-table-column
            prop="describe"
            label="任务说明"
            width="220"
          ></u-table-column>
          <u-table-column label="工时" width="120">
            <template slot-scope="scope">
              <div>
                ${ scope.row.duration }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="开始日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.plan_starttime }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="结束日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.plan_endtime }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="接收任务编码" width="120">
            <template slot-scope="scope">
              <div
                class="checek-man"
                v-for="(item,index) in scope.row.raiseArray"
                :key="index+item.receivewbs"
              >
                ${ item.receivewbs }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="接收任务名称" width="300">
            <template slot-scope="scope">
              <div
                class="checek-man"
                v-for="(item,index) in scope.row.raiseArray"
                :key="index+item.receivewbs"
              >
                ${ item.receivename }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="接收任务资料" width="300">
            <template slot-scope="scope">
              <div
                class="checek-man"
                v-for="(item,index) in scope.row.raiseArray"
                :key="index+item.receivewbs"
              >
                ${ item.receivedata }
              </div>
            </template>
          </u-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="成本计划" name="fifth">
        <el-table
          ref="costTable"
          :default-sort="{prop: 'position', order: 'ascending'}"
          :header-cell-style="{height:'50px',background:'#f6f7f9',color:'#6b6b6b',fontWeight:'500',fontSize:'12px'}"
          :data="costData"
          style="width: 100%; margin: 10px 0 10px 0;"
          :cell-style="cellStyle"
          row-key="task_id"
          :border="true"
          :height="tableHeight"
          default-expand-all
          :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
        >
          <!-- <u-table-column width="40">
            <template slot="header" slot-scope="scope">
              <el-checkbox @change="handleCheckAllChange" v-model="allChecked"></el-checkbox>
            </template>
            <template slot-scope="scope">
              <el-checkbox @change="itemChange(scope.row)" v-model="scope.row.checked"></el-checkbox>
            </template>
          </u-table-column> -->
          <u-table-column
            prop="position"
            label="序号"
            width="60"
          ></u-table-column>
          <u-table-column
            prop="wbs"
            label="WBS编码"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="task_name"
            min-width="300"
            label="任务名称"
          ></u-table-column>
          <u-table-column
            prop="major.text"
            label="专业"
            width="120"
          ></u-table-column>
          <u-table-column
            prop="describe"
            label="任务说明"
            width="220"
          ></u-table-column>
          <!-- <u-table-column label="工期" width="120">
            <template slot-scope="scope">
              <div>
                ${ scope.row.duration }
              </div>
            </template>
          </u-table-column> -->
          <u-table-column label="开始日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.start_date }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="结束日期" width="180">
            <template slot-scope="scope">
              <div>
                ${ scope.row.end_date }
              </div>
            </template>
          </u-table-column>
          <u-table-column label="任务绩效" width="120">
            <u-table-column
              prop="work_amount_unit"
              label="工程量/单位"
              width="120"
            ></u-table-column>
            <!-- <u-table-column prop="assn_pro_unit" label="单位" width="80"></u-table-column> -->
            <u-table-column
              prop="performance_bonus"
              label="绩效"
              width="80"
            ></u-table-column>
            <u-table-column
              prop="performance_bonus_subtotal"
              label="小计"
              width="80"
            ></u-table-column>
          </u-table-column>
          <u-table-column prop="" label="机械" width="120">
            <u-table-column label="名称" width="100">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmachine_name"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="型号" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmachine_number"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="耗用量" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmachine_used"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="单位" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmachine_unit"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="单价" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmachine_price"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="小计" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmachine_subtotal"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
          </u-table-column>
          <u-table-column prop="" label="材料" width="120">
            <u-table-column label="名称" width="100">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmaterial_name"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="型号" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmaterial_number"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="耗用量" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmaterial_used"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="单位" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmaterial_unit"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="单价" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmaterial_price"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="小计" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmaterial_subtotal"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
          </u-table-column>
          <u-table-column prop="" label="人工" width="120">
            <u-table-column label="角色名称" width="100">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmanual_role"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="人员姓名" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmanual_name"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="工作量" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmanual_workload"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="工作量单位" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmanual_unit"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="单价" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmanual_price"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
            <u-table-column label="小计" width="80">
              <template slot-scope="scope">
                <div
                  class="checek-man-cost"
                  v-for="(item, index) in scope.row.fmanual_subtotal"
                  :key="index"
                >
                  ${ item }
                </div>
              </template>
            </u-table-column>
          </u-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
  <script src="../js/lodash.js"></script>
  <script src="../js/vue.min.js"></script>
  <script src="../js/element.js"></script>
  <script src="../js/table.js"></script>
  <script src="../js/test.js"></script>
</body>
