html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#netPicApp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: stretch;
}
#netPicApp .nodes-text {
  font-size: 20px;
}

#netPicApp .network-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#netPicApp .top-box {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

#netPicApp .top-item {
  width: 320px;
}

#netPicApp .select-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-self: flex-end;
}

#netPicApp .title-box {
  display: flex;
  justify-content: center;
  align-items: baseline;

  font-size: 22px;
  color: #2b2b2b;
  font-weight: 700;
}

#netPicApp .version-text {
  font-size: 16px;
  margin-left: 10px;
  /* color: red; */
}

#svgContainer {
  /* flex-grow: 1;
  flex-shrink: 0; */
  flex: 1;
  background-color: #f5f2d8;
  overflow: auto;
  margin: 5px 10px;
  position: relative;
  border: 1px solid #ccc;
}

#netPicApp .role-box {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
}

#netPicApp .date-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#netPicApp .year-month-cell {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#netPicApp .date-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 40px;
}

#netPicApp .date-cell {
  display: flex;
  width: 50px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

#netPicApp .date-role-cell {
  border: 0.5px solid #999;
  /* border-right: none; */
}

#netPicApp .date-role-cell:nth-last-of-type() {
  border-right: 0.5px solid #999;
}

#netPicApp .role-header-item {
  width: 115px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#netPicApp .bot-info-box {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 5px 10px;
}

#netPicApp .box-info-left {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
}
#netPicApp .box-info-center {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  margin: 0 2px;
}

#netPicApp .box-info-right {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border: 1px solid #333;
  padding: 2px;
}

#netPicApp .bot-info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: 2px;
}

#netPicApp .info-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  height: 48%;
  /* border: 1px solid #333; */
}

#netPicApp .info-title {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #000;
  font-weight: 800;
  border: 1px solid #333;
  padding: 0 20px;
  margin-right: 2px;
}

#netPicApp .info-content {
  width: 160px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #000;
  border: 1px solid #333;
  padding: 0 20px;
}

#netPicApp .node-text {
  color: #ccc;
}
