html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#ctaskCostControlApp {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  width: 100%;
  height: 100%;
  background: #f2f5fe;
  padding: 10px;
  box-sizing: border-box;
}

#ctaskCostControlApp .btn-lsit {
  width: 100%;
  height: 50px;
  background: #fff;
  text-align: left;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#ctaskCostControlApp .btn-lsit .btn-box-right {
  padding-right: 20px;
}

#ctaskCostControlApp .btn-lsit button {
  border: none;
  font-size: 12px;
  color: #fff;
  background: #5582f4;
  margin: 0 0 0 12px;
  height: 28px;
  /* font-weight: bold; */
  padding: 0 15px;
  border-radius: 2px;
}

#ctaskCostControlApp .btn-lsit button:hover {
  background: #779bf5;
}

#ctaskCostControlApp .el-table__body tr.current-row > td {
  background-color: #eff3fd !important;
  /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
}
#ctaskCostControlApp .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: #eff3fd;
  /* color: #f19944; */ /* 设置文字颜色，可以选择不设置 */
}

#ctaskCostControlApp .check-man {
  width: 140%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid #ebeef5; */
  margin: 0 -10px;
  text-indent: 10px;
}
#ctaskCostControlApp .check-man {
  border-top: none;
  border-bottom: 1px solid #cecece;
}
#ctaskCostControlApp .check-man:nth-last-of-type(1) {
  border: none;
}

#ctaskCostControlApp .check-man .check-man-suggestions {
  width: 80%;
  overflow: hidden;
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-wrap {
  padding: 15px 50px 20px 28px;
  background: #fff;
  margin-bottom: 10px;
}

.title-info-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drop-btn {
  font-size: 18px;
  color: #5582f4;
  margin-right: 5px;
}

.title-text {
  font-size: 18px;
  color: #5582f4;
}

.table-content {
  padding: 10px 0 0 20px;
}

.el-table td,
.el-table th.is-leaf,
.el-table--border,
.el-table--group {
  border-color: #cecece;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
  background-color: #cecece;
}

.el-table--border th,
.el-table__fixed-right-patch {
  border-bottom: 1px solid #cecece;
}

.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
  border-right: 1px solid #cecece;
}
