html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 130, 243, 0.1);
}

#bcCertificateApp {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  font-family: SourceHanSansCN-Bold;
}

#bcCertificateApp .content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

#bcCertificateApp .pagenation-box {
  width: 1100px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bcCertificateApp .detail-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 666;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bcCertificateApp .detail-box {
  width: 1020px;
  height: 682px;
  background: url("../image/bg-text.png") no-repeat center 160px,
    url("../image/bg.jpg") no-repeat center/cover;
}

#bcCertificateApp .detail-info-list {
  width: 840px;
  height: 280px;
  /* border: 1px solid #333; */
  margin: 320px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#bcCertificateApp .detail-info-item {
  width: 48%;
  height: 69px;
  box-sizing: border-box;
  /* border: 1px solid #eee; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .check-more {
  justify-content: flex-end;
} */

#bcCertificateApp .label {
  /* min-width: 40px; */
  font-size: 16px;
  color: #2b2b2b;
  margin-right: 5px;
}

#bcCertificateApp .label-more {
  color: #5588ff;
  cursor: pointer;
}
#bcCertificateApp .label-more:hover {
  text-decoration: underline;
}
#bcCertificateApp .value {
  width: 300px;
  font-size: 16px;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#bcCertificateApp .close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 48px;
  color: #3c3a3a;
  cursor: pointer;
  transition: transform 0.3s;
}

#bcCertificateApp .close-btn:hover {
  transform: rotate(90deg) translateZ(0);
}

#bcCertificateApp .data-info-list {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #2b2b2b;
  min-width: 800px;
}

#bcCertificateApp .data-info-list .data-info-item {
  /* height: 30px; */
  display: flex;
  line-height: 30px;
}

#bcCertificateApp .data-info-list .data-info-item-label {
  font-weight: 700;
  margin-right: 5px;
  color: #333;
}

.el-dialog {
  min-width: 800px;
  max-height: 1000px;
  overflow-x: hidden;
  overflow-y: auto;
}

.el-table__header {
  border-bottom: 1px solid #eee !important;
}
